Q1

In [2]:
a=int(input('국어점수: '))
b=int(input('영어점수: '))
c=int(input('수학점수: '))

print('평균점수:',(a+b+c)/3)

국어점수: 80
영어점수: 75
수학점수: 55
평균점수: 70.0

Q2

In [3]:
a=int(input('정수를 입력하세요'))
if a%2==0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

정수를 입력하세요13
홀수입니다.

Q3

In [13]:
a=input('주민번호를 입력하세요: ')
if int(a[0:2])<=21:
    print('20'+a[0:5])
elif int(a[0:2])>21:
    print('19'+a[0:5])
print(a[7:])

주민번호를 입력하세요: 881120-1068234
1988112
1068234

Q4

In [15]:
a=input('주민등록번호를 입력하세요: ')
if int(a[7:8])%2==0:
    print('여자입니다.')
else:
    print('남자입니다.')

주민등록번호를 입력하세요: 881120-1068234
남자입니다.

Q5

In [18]:
a='a:b:c:d'
a.replace(':','#')

'a#b#c#d'

Q6

In [24]:
list=[1,3,5,4,2]
list.sort()
list.reverse()
print(list)

[5, 4, 3, 2, 1]

Q7

In [33]:
a=['Life','is','too','short']
b= ' '.join(a)
print(b)

Life is too short

Q8

In [35]:
a=(1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

Q9

Q10

In [41]:
a = {'A':90, 'B':80, 'C':70}
b=a.pop('B')
print(b)

80

Q11

In [47]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)     
b = aSet    
print(b)

{1, 2, 3, 4, 5}

Q12

[1, 4, 3]이 출력됩니다. a와 b는 동일한 리스트이기 때문입니다.